In [2]:
import pandas as pd
import numpy as np

In [32]:
pip install xlrd

Requirement already satisfied: xlrd in c:\users\toshiba\anaconda3\lib\site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [6]:
# 3 tane excel_sheet birleştirildi.
df = pd.concat(pd.read_excel('Sample - Superstore.xls', sheet_name= None), ignore_index=True)
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Regional Manager,Returned
0,1.0,CA-2020-152156,2020-11-08,2020-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2.0,0.00,41.9136,NaN,NaN
1,2.0,CA-2020-152156,2020-11-08,2020-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3.0,0.00,219.5820,NaN,NaN
2,3.0,CA-2020-138688,2020-06-12,2020-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2.0,0.00,6.8714,NaN,NaN
3,4.0,US-2019-108966,2019-10-11,2019-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5.0,0.45,-383.0310,NaN,NaN
4,5.0,US-2019-108966,2019-10-11,2019-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2.0,0.20,2.5164,NaN,NaN

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10798 entries, 0 to 10797
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Row ID            9994 non-null   float64
 1   Order ID          10794 non-null  object
 2   Order Date        9994 non-null   datetime64[ns]
 3   Ship Date         9994 non-null   datetime64[ns]
 4   Ship Mode         9994 non-null   object
 5   Customer ID       9994 non-null   object
 6   Customer Name     9994 non-null   object
 7   Segment           9994 non-null   object
 8   Country/Region    9994 non-null   object
 9   City              9994 non-null   object
 10  State             9994 non-null   object
 11  Postal Code       9983 non-null   float64
 12  Region            9998 non-null   object
 13  Product ID        9994 non-null   object
 14  Category          9994 non-null   object
 15  Sub-Category      9994 non-null   object
 16  Product Name      9994 non-null   object
 17  Sales             9994 non-null   float64
 18  Quantity          9994 non-null   float64
 19  Discount          9994 non-null   float64
 20  Profit            9994 non-null   float64
 21  Regional Manager  4 non-null      object
 22  Returned          800 non-null    object
dtypes: datetime64[ns](2), float64(6), object(15)
memory usage: 1.9+ MB

In [8]:
df.describe()

,Row ID,Postal Code,Sales,Quantity,Discount,Profit
count,9994.000000,9983.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,55245.233297,229.858001,3.789574,0.156203,28.656896
std,2885.163629,32038.715955,623.245101,2.225110,0.206452,234.260108
min,1.000000,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,2499.250000,23223.000000,17.280000,2.000000,0.000000,1.728750
50%,4997.500000,57103.000000,54.490000,3.000000,0.200000,8.666500
75%,7495.750000,90008.000000,209.940000,5.000000,0.200000,29.364000
max,9994.000000,99301.000000,22638.480000,14.000000,0.800000,8399.976000

In [9]:
df.index

RangeIndex(start=0, stop=10798, step=1)

In [11]:
# tablonun sütunlarını görme
df.keys()

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country/Region', 'City',
       'State', 'Postal Code', 'Region', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount',
       'Profit', 'Regional Manager', 'Returned'],
      dtype='object')

In [12]:
#tablonun değerlerini görme
df.values

array([[1.0, 'CA-2020-152156', Timestamp('2020-11-08 00:00:00'), ...,
        41.9136, nan, nan],
       [2.0, 'CA-2020-152156', Timestamp('2020-11-08 00:00:00'), ...,
        219.58199999999997, nan, nan],
       [3.0, 'CA-2020-138688', Timestamp('2020-06-12 00:00:00'), ...,
        6.8713999999999995, nan, nan],
       ...,
       [nan, 'US-2021-151127', NaT, ..., nan, nan, 'Yes'],
       [nan, 'US-2021-155999', NaT, ..., nan, nan, 'Yes'],
       [nan, 'US-2021-155999', NaT, ..., nan, nan, 'Yes']], dtype=object)

In [16]:
#see the wanted rows(here from 10 to 14)
df.loc[10:14]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Regional Manager,Returned
10,11.0,CA-2018-115812,2018-06-09,2018-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,FUR-TA-10001539,Furniture,Tables,Chromcraft Rectangular Conference Tables,1706.184,9.0,0.2,85.3092,NaN,NaN
11,12.0,CA-2018-115812,2018-06-09,2018-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,TEC-PH-10002033,Technology,Phones,Konftel 250 Conference phone - Charcoal black,911.424,4.0,0.2,68.3568,NaN,NaN
12,13.0,CA-2021-114412,2021-04-15,2021-04-20,Standard Class,AA-10480,Andrew Allen,Consumer,United States,Concord,...,OFF-PA-10002365,Office Supplies,Paper,Xerox 1967,15.552,3.0,0.2,5.4432,NaN,NaN
13,14.0,CA-2020-161389,2020-12-05,2020-12-10,Standard Class,IM-15070,Irene Maddox,Consumer,United States,Seattle,...,OFF-BI-10003656,Office Supplies,Binders,Fellowes PB200 Plastic Comb Binding Machine,407.976,3.0,0.2,132.5922,NaN,NaN
14,15.0,US-2019-118983,2019-11-22,2019-11-26,Standard Class,HP-14815,Harold Pawlan,Home Office,United States,Fort Worth,...,OFF-AP-10002311,Office Supplies,Appliances,Holmes Replacement Filter for HEPA Air Cleaner...,68.810,5.0,0.8,-123.8580,NaN,NaN

In [17]:
#just see wanted colums
df[['Order Date','Ship Date']]

      Order Date  Ship Date
0     2020-11-08 2020-11-11
1     2020-11-08 2020-11-11
2     2020-06-12 2020-06-16
3     2019-10-11 2019-10-18
4     2019-10-11 2019-10-18
...          ...        ...
10793        NaT        NaT
10794        NaT        NaT
10795        NaT        NaT
10796        NaT        NaT
10797        NaT        NaT

[10798 rows x 2 columns]

In [18]:
#just see wanted colums
df.loc[:,['Order Date', 'Ship Date']]

      Order Date  Ship Date
0     2020-11-08 2020-11-11
1     2020-11-08 2020-11-11
2     2020-06-12 2020-06-16
3     2019-10-11 2019-10-18
4     2019-10-11 2019-10-18
...          ...        ...
10793        NaT        NaT
10794        NaT        NaT
10795        NaT        NaT
10796        NaT        NaT
10797        NaT        NaT

[10798 rows x 2 columns]

In [19]:
# Select the data in rows [3, 4, 8] and in seelcted columns (['animal', 'age'])
df.loc[df.index[[3,4,8]],['Order Date', 'Ship Date']]

  Order Date  Ship Date
3 2019-10-11 2019-10-18
4 2019-10-11 2019-10-18
8 2018-06-09 2018-06-14

In [20]:
# Select only the rows where the Order Date is greater than 2018-06-09.
df[df["Order Date"] > '2018-06-09']

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Regional Manager,Returned
0,1.0,CA-2020-152156,2020-11-08,2020-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2.0,0.00,41.9136,NaN,NaN
1,2.0,CA-2020-152156,2020-11-08,2020-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3.0,0.00,219.5820,NaN,NaN
2,3.0,CA-2020-138688,2020-06-12,2020-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2.0,0.00,6.8714,NaN,NaN
3,4.0,US-2019-108966,2019-10-11,2019-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5.0,0.45,-383.0310,NaN,NaN
4,5.0,US-2019-108966,2019-10-11,2019-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2.0,0.20,2.5164,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9988,9989.0,CA-2021-163629,2021-11-17,2021-11-21,Standard Class,RA-19885,Ruben Ausman,Corporate,United States,Athens,...,TEC-PH-10004006,Technology,Phones,Panasonic KX - TS880B Telephone,206.1000,5.0,0.00,55.6470,NaN,NaN
9990,9991.0,CA-2021-121258,2021-02-26,2021-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2.0,0.00,15.6332,NaN,NaN
9991,9992.0,CA-2021-121258,2021-02-26,2021-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2.0,0.20,19.3932,NaN,NaN
9992,9993.0,CA-2021-121258,2021-02-26,2021-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4.0,0.00,13.3200,NaN,NaN
9993,9994.0,CA-2021-119914,2021-05-04,2021-05-09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2.0,0.00,72.9480,NaN,NaN

In [22]:
# Select the rows where the Postal Code is missing, i.e. it is NaN .
df[df['Order Date'].isnull()]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Regional Manager,Returned
9994,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sadie Pawthorne,NaN
9995,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Chuck Magee,NaN
9996,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Roxanne Rodriguez,NaN
9997,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Fred Suzuki,NaN
9998,NaN,CA-2018-100762,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10793,NaN,US-2021-147886,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes
10794,NaN,US-2021-147998,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes
10795,NaN,US-2021-151127,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes
10796,NaN,US-2021-155999,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes
10797,NaN,US-2021-155999,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes

# 35' inci maddede kaldım.